.activity-container {
  border: 2px solid fuchsia;
  width: 80%;
  height: 35%;
  margin: 15px;
}

.activity-title {
  display: flex;
  justify-content: center;
}

.activity-content {
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
}

.activity-text {
  border: 1px solid black;
  width: 80%;
}

.host-avatar {
  border: 1px solid crimson;
  height: 100px;
  width: 100px;
}

.host-avatar img {
  height: 100%;
  width: 100%;
}
