.home-activity {
  margin: 10px;
  width: 90%;
  height: 350px;
  border-radius: 3px;
  /* background-color: #d3d7da; */
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* border: 2px solid #00416b; */
  border: 2px solid black;
}

.home-activity-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
}

.home-activity-header {
  height: 20%;
  background-color: #00bc66;
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
}

.home-header-avatar {
  /* border: 1px solid green; */
  height: 100px;
  width: 100px;
  position: relative;
  right: 20px;
  top: 20px;
  border-radius: 500px;
  z-index: 5;
  border: 2px solid black;
}

.home-header-avatar img {
  height: 100%;
  width: 100%;
  border-radius: 500px;
}

.home-activity-content {
  height: 70%;
  display: flex;
  align-items: flex-end;
}

.activity-when-where {
  width: 50%;
  height: 100%;
}

.home-activity-info {
  width: 50%;
  height: 75%;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.home-activity-actions {
  height: 10%;
  display: flex;
}

.home-activity-actions form {
  height: 100%;
}
