.home-activity {
  margin: 10px;
  width: 90%;
  height: 350px;
  border-radius: 3px;
  /* background-color: #d3d7da; */
  background-color: whitesmoke;
  /* background-color: #003d6b; */
  box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.5);
  /* border: 2px solid #00416b; */
  border: 2px solid black;
}

.home-activity-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
}

.home-activity-header {
  height: 20%;
  background-color: #00bc66;
  color: white;
  display: flex;
  justify-content: space-between;
}

.home-title {
  margin-left: 10px;
  text-shadow: 2px 2px black;
}

.home-header-avatar {
  /* border: 1px solid green; */
  height: 100px;
  width: 100px;
  position: relative;
  right: 20px;
  top: 20px;
  border-radius: 500px;
  z-index: 5;
  border: 2px solid black;
  background-color: white;
}

.home-header-avatar img {
  height: 100%;
  width: 100%;
  border-radius: 500px;
}

.home-activity-content {
  height: 70%;
  display: flex;
  align-items: flex-end;
}

.activity-when-where {
  width: 50%;
  height: 100%;
}

.activity-when-where div {
  margin-left: 10px;
}

.home-activity-info {
  width: 50%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.home-activity-actions {
  height: 10%;
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.home-activity-actions form {
  height: 100%;
}

.reserver {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.view-more {
  border: 1px solid red;
  height: 30px;
  width: 30px;
  margin: 5px;
}

.view-more img {
  height: 100%;
  width: 100%;
  border-radius: 500px;
}

.view-more img:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.host-display {
  width: 100px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 15px;
  left: 550px;
  margin: 0;
  padding: 0;
  border-radius: 500px;
}

.host-display:hover {
  background-color: #00bc66;
  cursor: pointer;
}

.add-participants-icon {
  width: 30px;
  height: 30px;
  margin: 10px;
  padding: 2px;
}

.add-participants-icon:hover {
  cursor: pointer;
  background-color: rgb(209, 208, 208);
  border-radius: 500px;
}

.add-participants-icon img {
  height: 100%;
  width: 100%;
}
