.edit-container {
  display: flex;
  height: 90%;
}

.edit-display {
  width: 58%;
}

.editor {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.updateform-container {
  border: 2px solid black;
  border-radius: 5px;
  height: 80%;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
  width: 90%;
}

.form textarea {
  resize: none;
}

.title-input {
  display: flex;
  justify-content: space-between;
}

.title-input input {
  width: 200px;
}

.participant-input input {
  width: 50px;
}
